.calculator{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
}
.container{
    height: 100vh;
    width: 420px;
    margin: 2px auto;
    text-align: center;
    padding: 10px;
    background: #222;
}
.input{
    margin-top: 10vh;
}
.buttons{
    text-align: center;
    margin-top: 20vh;
    height: auto;
}
.buttons button{
    height: 40px;
    width: 4.5rem;
    margin: 4px;
    color: #fff;
    z-index: 1;
    background: #373636;
    border-radius:10px;
    border: none;
    transition: all 0.5s;
   

}
.buttons button:hover{
    background: #696767;
    cursor: pointer;
}
.container input{
    width: 100%;
    padding-left: 20px;
    background: #222;
    color: #fff;
    outline: none;
    border: none;
    font-size: 2rem;

}

  @media screen and (max-width:336px){
    .buttons button{
        width: 3.7rem;
        margin: 2px;
        padding: 0;
        font-size: 1rem;
    }
}
@media screen and (max-width:264px){
    .buttons button{
        width: 2.6rem;
        margin: 2px;
        padding: 0;
    }
}
@media screen and (max-width:198px){
    .buttons button{
        width: 1.8rem;
        height: 1.8rem;
        margin: 3px;
        padding: 0;
        font-size: 0.6rem;
    }
}
@media screen and (max-width:165px){
    .buttons button{
        width: 1.2rem;
        height: 1.5rem;
        margin: 2px;
        padding: 0;
        font-size: 0.5rem;
    }
}